<div class='container'>

  <header id='filterPadding' class='r alignCenter spaceBetween'>
    <div class='r'>
      <de-category-filter ctrl='Shop'></de-category-filter>
      <section>
        <label>Search for name: </label> <input type="text" ng-model='Shop.filterName' placeholder='(:' />
      </section>
    </div>
    <a href='/store/checkout'>checkout</a>
  </header>

  <table class='table-bordered'>
    <tr>
      <th> Tea </th>
      <th colspan='2'>
        Information
        <de-order-by-price class='pull-right' ctrl='Shop'></de-order-by-price>
      </th>
    </tr>

    <tr ng-repeat='tea in Shop.products | filter: Shop.category | filter: Shop.filterName | orderBy: Shop.itemPrice'>

      <td> <img ng-src='{{tea.imageUrl}}' /> </td>
      <td colspan='2'>
        <section class='r spaceBetween alignCenter'>

          <header class='inlineFlex'>
            <h2> {{tea.name}} </h2>
          </header>

          <de-edit-cart ctrl='Shop' function='Shop.add(tea, qty)' class='spaceBetween'> </de-edit-cart>

        </section>

        <p>
          <span>Price:</span> {{tea.price | currency}}
        </p>
        <p>
          <span>Caffeine Scale:</span> {{ tea.caffeineScale }}
        </p>
        <p>
          <span>Ingredients:</span> {{ tea.ingredients }}
        </p>
        <p>
          <span>Rating:</span> {{ tea.rating }}
        </p>
        <p>
          <span>In Stock?</span> {{ tea.inStock }}
        </p>

        <section>
          <span>Categories:</span>
          <ul>
            <li ng-repeat='li in tea.categories'> {{li}} </li>
          </ul>
        </section>

      </td>

    </tr>
  </table>
</div>
